.formContainer{
    background-color:#CBC3E3;
    height: 100vh;
    display:flex;
    align-items:center;
    justify-content: center;

    .formWrapper{
        background-color: #F2EDEB;
        padding:20px 60px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;

        .logo{
            color:#574B60;
            font-weight: bold;
            font-size: 24px;

        }

        .title{
            color:#574B60;
            font-size:12px;
        }
        form{
            display:flex;
            flex-direction: column;
            gap:15px;

            input{
                padding: 15px;
                border:none;
                border-bottom: 1px solid #574B60;
                background-color:#F2EDEB;
                outline: none;
                &::placeholder{
                    color:rgb(129, 125, 125);
                    position: absolute;
                    left:0px;
                }
            }
            button {
                background-color: #574B60;
                color: white;
                padding: 10px;
                font-weight: bold;
                border:none;
                cursor:pointer;
            }
        }
        p{
            color:#574B60;
            font-size: 12px;
            margin-top: 10px;
        }
    }
}

.homescreen {
    background-color: #CBC3E3;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .container{
        border:1px solid #F2EDEB;
        border-radius: 10px;
        width:65%;
        height: 80%;
        display:flex;
    }
}